<%= render 'navbar' %>
<%= render 'header' %>
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <h2 class="section-heading">The Hacking Project dans ton inbox !</h2>

        <p>Dates des prochains workshops dans ta ville, les news de THP et bien plus ...</p>

        <hr class="light">

        <form class="form-inline text-center">

          <div class="form-group">
            <input type="text" class="input form-control" placeholder="Ton prénom">
          </div>

          <div class="form-group">
            <input type="text" class="input form-control" placeholder="Ton nom">
          </div>

          <div class="form-group">
            <input type="text" class="input form-control" placeholder="Ton email">
          </div>

          <button type="submit" class="btn btn-default btn-xl mb-2">Je m'abonne !</button>

        </form>
      </div>
    </div>
  </div>
</section>
<%= render 'services' %>
<%= render 'call_to_action' %>

<!-- <%= render 'portfolio' %> -->

<%= render 'contact' %>
